<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string> 空</string>
	<string> 东风</string>
	<string> 何处</string>
	<string> 人间</string>
	<string> 风流</string>
	<string> 归去</string>
	<string> 春风</string>
	<string> 西风</string>
	<string> 归来</string>
	<string> 江南</string>
	<string> 相思</string>
	<string> 梅花</string>
	<string> 千里</string>
	<string> 回首</string>
	<string> 明月</string>
	<string> 多少</string>
	<string> 如今</string>
	<string> 阑干</string>
	<string> 年年</string>
	<string> 万里</string>
	<string> 一笑</string>
	<string> 黄昏</string>
	<string> 当年</string>
	<string> 天涯</string>
	<string> 相逢</string>
	<string> 芳草</string>
	<string> 尊前</string>
	<string> 一枝</string>
	<string> 风雨</string>
	<string> 流水</string>
	<string> 依旧</string>
	<string> 风吹</string>
	<string> 风月</string>
	<string> 多情</string>
	<string> 故人</string>
	<string> 当时</string>
	<string> 无人</string>
	<string> 斜阳</string>
	<string> 不知</string>
	<string> 不见</string>
	<string> 深处</string>
	<string> 时节</string>
	<string> 平生</string>
	<string> 凄凉</string>
	<string> 春色</string>
	<string> 匆匆</string>
	<string> 功名</string>
	<string> 一点</string>
	<string> 无限</string>
	<string> 今日</string>
	<string> 天上</string>
	<string> 杨柳</string>
	<string> 西湖</string>
	<string> 桃花</string>
	<string> 扁舟</string>
	<string> 消息</string>
	<string> 憔悴</string>
	<string> 何事</string>
	<string> 芙蓉</string>
	<string> 神仙</string>
	<string> 一片</string>
	<string> 桃李</string>
	<string> 人生</string>
	<string> 十分</string>
	<string> 心事</string>
	<string> 黄花</string>
	<string> 一声</string>
	<string> 佳人</string>
	<string> 长安</string>
	<string> 东君</string>
	<string> 断肠</string>
	<string> 而今</string>
	<string> 鸳鸯</string>
	<string> 为谁</string>
	<string> 十年</string>
	<string> 去年</string>
	<string> 少年</string>
	<string> 海棠</string>
	<string> 寂寞</string>
	<string> 无情</string>
	<string> 不是</string>
	<string> 时候</string>
	<string> 肠断</string>
	<string> 富贵</string>
	<string> 蓬莱</string>
	<string> 昨夜</string>
	<string> 行人</string>
	<string> 今夜</string>
	<string> 谁知</string>
	<string> 不似</string>
	<string> 江上</string>
	<string> 悠悠</string>
	<string> 几度</string>
	<string> 青山</string>
	<string> 何时</string>
	<string> 天气</string>
	<string> 惟有</string>
	<string> 一曲</string>
	<string> 月明</string>
	<string> 往事</string>
	<string>杜鹃</string>
	<string>明年</string>
</array>
</plist>
